        /* CUSTOM SEARCH */

        .search-filter-container {
            margin-bottom: 20px;
        }

        .list-group-item {
            margin-bottom: 10px;
        }

        /* Alumni List Card Styles */
        .title-white {
            color: black !important;
        }

        .list-group-item {
            background-color: #f6fcfd !important;
            border: 1px solid #ADD8E6;
            border-radius: 8px;
            margin: 10px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s;
            /* Smooth transition effect */
        }

        /* Hover effect */
        .list-group-item:hover {
            background-color: #ADD8E6 !important;
            /* Brighter yellow on hover */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            /* Box shadow on hover */
        }

        /* Media Styles */
        .list-group-item .media {
            overflow: hidden;
        }

        .list-group-item .media img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 15px;
        }

        /* Media Body Styles */
        .list-group-item .media-body {
            overflow: hidden;
        }

        .list-group-item .media-body h4 {
            margin-bottom: 5px;
        }

        .list-group-item .media-content {
            margin-top: 10px;
        }

        .list-group-item ul {
            margin: 0;
            padding: 0;
        }

        .list-group-item ul li {
            list-style: none;
        }

        /* END */