:root {
    /* BRAND COLORS */
    --brand-green: #009640;
    --brand-yellow: #faa42f;
    --brand-blue: #0d599c;
}

/* alumni */
    /* Candidate List */
    .candidate-list {
        background: #ffffff;
        display: flex;
        border: 1px solid #a8a7a7a2;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .candidate-list:hover {
          -webkit-box-shadow: 0px 0px 34px 4px rgba(7, 7, 8, 0.06);
                  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
          position: relative;
          z-index: 99; }
          .candidate-list:hover a.candidate-list-favourite {
            color: #e74c3c;
            -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
                    box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1); }
      
      .candidate-list .candidate-list-image {
        margin-right: 25px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 80px;
                flex: 0 0 80px;
        border: none; }
        .candidate-list .candidate-list-image img {
          width: 80px;
          height: 80px;
          -o-object-fit: fill;
             object-fit: cover; }
      
      .candidate-list-title {
        margin-bottom: 5px; }
      
      .candidate-list-details ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 0px; }
        .candidate-list-details ul li {
          margin: 5px 10px 5px 0px;
          font-size: 13px; }
      
       .candidate-list:hover {
            /* background: #555454; */
            color: #101010; }
      .candidate-banner .candidate-list:hover {
        position: inherit;
        -webkit-box-shadow: inherit;
                box-shadow: inherit;
        z-index: inherit; }
      
      
      /* Candidate Grid */
      .candidate-list.candidate-grid {
          padding: 0px;
          display: block;
          border-bottom: none;
      }
      
      .candidate-grid .candidate-list-image {
          text-align: center;
          margin-right: 0px;
      }
      .candidate-grid .candidate-list-image img {
          height: 150px;
          width: 100%;
      }
      
      .candidate-grid .candidate-list-details {
          text-align: center;
          padding: 20px 20px 0px 20px;
          border-top: none;
          border-bottom: 1px solid #a8a7a7a2;
      }
      .candidate-grid .candidate-list-details ul {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
      }
      .candidate-grid .candidate-list-details ul li {
          margin: 2px 5px;
      }
      .owl-carousel .candidate-list.candidate-grid {
          margin-bottom: 20px;
      }   
      /* Widget */
      .widget .widget-title {
          margin-bottom: 20px;
      }
      .widget .widget-title h6 {
          margin-bottom: 0;
      }
      .widget .widget-title a {
          color: #212529;
      }
      
      .widget .widget-collapse {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 0;
      }
      
      /* similar-jobs-item */
      .similar-jobs-item .job-list {
          border-bottom: 0;
          padding: 0;
          margin-bottom: 15px;
      }
      .similar-jobs-item .job-list:last-child {
          margin-bottom: 0;
      }
      .similar-jobs-item .job-list:hover {
          -webkit-box-shadow: none;
          box-shadow: none;
      }
      
      /* checkbox */
      .widget .widget-content {
  
          margin-top: 10px;
      }
      .widget .widget-content .custom-checkbox {
          margin-bottom: 8px;
      }
      .widget .widget-content .custom-checkbox:last-child {
          margin-bottom: 0px;
      }
      
      .widget .custom-checkbox.fulltime-job .custom-control-label:before {
          background-color: #186fc9;
          border: 2px solid #186fc9;
      }
      
      .widget .custom-checkbox.fulltime-job .custom-control-input:checked ~ .custom-control-label:before {
          background: #186fc9;
          border-color: #186fc9;
      }
      
      .widget .custom-checkbox.parttime-job .custom-control-label:before {
          background-color: #ffc107;
          border: 2px solid #ffc107;
      }
      
      .widget .custom-checkbox.parttime-job .custom-control-input:checked ~ .custom-control-label:before {
          background: #ffc107;
          border-color: #ffc107;
      }
      
      .widget .custom-checkbox.freelance-job .custom-control-label:before {
          background-color: #53b427;
          border: 2px solid #53b427;
      }
      
      .widget .custom-checkbox.freelance-job .custom-control-input:checked ~ .custom-control-label:before {
          background: #53b427;
          border-color: #53b427;
      }
      
      .widget .custom-checkbox.temporary-job .custom-control-label:before {
          background-color: #e74c3c;
          border: 2px solid #e74c3c;
      }
      
      .widget .custom-checkbox.temporary-job .custom-control-input:checked ~ .custom-control-label:before {
          background: #e74c3c;
          border-color: #e74c3c;
      }
      
      .widget ul {
          margin: 0;
      }
      .widget ul li a:hover {
          color: #21c87a;
      }
      
      .widget .company-detail-meta ul {
          display: block;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
      }
      .widget .company-detail-meta ul li {
          margin-right: 15px;
          display: inline-block;
      }
      .widget .company-detail-meta ul li a {
          color: #646f79;
          font-weight: 600;
          font-size: 12px;
      }
      
      .widget .company-detail-meta .share-box li {
          margin-right: 0;
          display: inline-block;
      }
      
      .widget .company-detail-meta ul li.linkedin a {
          padding: 15px 20px;
          border: 2px solid #eeeeee;
          display: inline-block;
      }
      .widget .company-detail-meta ul li.linkedin a i {
          color: #06cdff;
      }
      
      .widget .company-address ul li {
          margin-bottom: 10px;
      }
      .widget .company-address ul li:last-child {
          margin-bottom: 0;
      }
      .widget .company-address ul li a {
          color: #646f79;
      }
      
      .widget .widget-box {
          padding: 20px 15px;
      }
      
      .widget .similar-jobs-item .job-list.jobster-list {
          padding: 15px 10px;
          border: 0;
          margin-bottom: 10px;
      }
      
      .widget .similar-jobs-item .job-list {
          padding-bottom: 15px;
      }
      
      .widget .similar-jobs-item .job-list-logo {
          margin-left: auto;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 60px;
          flex: 0 0 60px;
          height: 60px;
          width: 60px;
      }
      
      .widget .similar-jobs-item .job-list-details {
          margin-right: 15px;
          -ms-flex-item-align: center;
          align-self: center;
      }
      .widget .similar-jobs-item .job-list-details .job-list-title h6 {
          margin-bottom: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      
      .widget .similar-jobs-item .job-list.jobster-list .job-list-company-name {
          color: #21c87a;
      }
      
      .widget .docs-content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          background: #eeeeee;
          padding: 30px;
          border-radius: 3px;
      }
      .widget .docs-content .docs-text {
          -ms-flex-item-align: center;
          align-self: center;
          color: #646f79;
      }
      .widget .docs-content span {
          font-weight: 600;
      }
      .widget .docs-content .docs-icon {
          margin-left: auto;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 38px;
          flex: 0 0 38px;
      }
      
      /* Job Detail */
      .widget .jobster-company-view ul li {
          border: 1px solid #eeeeee;
          margin-bottom: 20px;
      }
      .widget .jobster-company-view ul li:last-child {
          margin-bottom: 0;
      }
      .widget .jobster-company-view ul li span {
          color: #212529;
          -ms-flex-item-align: center;
          align-self: center;
          font-weight: 600;
      }
      .sidebar{
          position: sticky;
          top: 140px;
      }
  
      .sidebar .widget {
          border: 1px solid #eeeeee;
          margin-bottom: 30px;
      }
      .sidebar .widget .widget-title {
          border-bottom: 1px solid #eeeeee;
          padding: 14px 20px;
      }
      
      .sidebar .widget .widget-content {
          padding: 14px 20px;
      }
      .widget .widget-content {
          margin-top: 10px;
      }
  
      .widget {
      width: 100%; /* Let the widget take up available space */
  }
  
  .custom-control {
      display: flex;
      align-items: center; /* Vertically center checkbox and label */
      margin-bottom: 10px; /* Optional: Space between checkboxes */
  }
  
  .custom-control-input {
      margin-right: 10px; /* Space between checkbox and label */
  }
  
  .custom-control-label {
      white-space: normal; /* Allow text to wrap */
      word-wrap: break-word; /* Break long words if necessary */
      max-width: 100%; /* Ensure the label stays within the sidebar */
  }
/* end */

/* FOOTER ICON */
.footer-icon{
    color: black;
}

.footer-icon:hover {
    color: var(--brand-blue);
}


/* Gallery v2 */
.gallery-menu{
	text-align:center;
}
.gallery-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.gallery-item{
	/*width:100%;*/
}
.gallery-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

/* directory */
        /* CUSTOM SEARCH */

        .search-filter-container {
            margin-bottom: 20px;
        }

        .list-group-item {
            margin-bottom: 10px;
        }

        /* Alumni List Card Styles */
        .title-white {
            color: black !important;
        }

        .list-group-item {
            background-color: #f6fcfd !important;
            border: 1px solid #ADD8E6;
            border-radius: 8px;
            margin: 10px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s;
            /* Smooth transition effect */
        }

        /* Hover effect */
        .list-group-item:hover {
            background-color: #ADD8E6 !important;
            /* Brighter yellow on hover */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            /* Box shadow on hover */
        }

        /* Media Styles */
        .list-group-item .media {
            overflow: hidden;
        }

        .list-group-item .media img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 15px;
        }

        /* Media Body Styles */
        .list-group-item .media-body {
            overflow: hidden;
        }

        .list-group-item .media-body h4 {
            margin-bottom: 5px;
        }

        .list-group-item .media-content {
            margin-top: 10px;
        }

        .list-group-item ul {
            margin: 0;
            padding: 0;
        }

        .list-group-item ul li {
            list-style: none;
        }

        /* END */
/* contact */
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.bg-yellow {
    background-color: #faa42f;
}

.bg-blue {
    background-color: #0d599c;
}

.bg-green {
    background-color: #057426;
}


/* Document and media releases */
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

/* END */

/* BANNER */
.banner {
    margin-bottom: 0rem;
}

.banner-item {
    height: 20rem;
}

.banner-caption {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-h1 {
    color: white !important;
}

/* Button */
.custom-button-1 {
    background-color: var(--brand-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button-3 {
    background-color: var(--brand-yellow);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button-3:hover {
    background-color: #fa8f00;
    /* Dark variant of brand blue */
    color: white;
}

.custom-button-3:active {
    background-color: #fa8f00;
    /* Darker variant of brand blue */
    color: white;
}

.custom-button-1:hover {
    background-color: #0a3a5e;
    /* Dark variant of brand blue */
    color: white;
}

.custom-button-1:active {
    background-color: #072b4b;
    /* Darker variant of brand blue */
    color: white;
}

.custom-outline-button {
    background-color: transparent;
    /* Transparent background */
    color: var(--brand-blue);
    /* Text color same as brand blue */
    padding: 10px 20px;
    border: 1px solid var(--brand-blue);
    /* Add border */
    border-radius: 5px;
    cursor: pointer;
}

.custom-outline-button:hover {
    background-color: var(--brand-blue);
    /* Brand blue on hover */
    color: white;
}

.custom-outline-button:active {
    background-color: #072b4b;
    /* Darker variant of brand blue on active */
    color: white;
}


/* Outline Button */
.custom-button-2 {
    background-color: transparent;
    color: var(--brand-yellow);
    padding: 10px 20px;
    border: 1px solid var(--brand-yellow);
    border-radius: 5px;
    cursor: pointer;
}

.custom-button-2:hover {
    background-color: var(--brand-yellow);
    color: white;
}

.custom-button-2:active {
    background-color: #fa8f00;
    /* Darker variant of brand yellow */
    color: white;
}

.display-1 {
    color: var(--brand-yellow);
}

/* gallery */
.filter-button
{
    font-size: 18px;
    border: 1px solid var(--brand-green);
    border-radius: 5px;
    text-align: center;
    color: var(--brand-green);
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid var(--brand-green);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: var(--brand-green);

}
.btn-default:active .filter-button:active
{
    background-color: var(--brand-green);
    color: white;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* end */

/* Carousel base class */

.carousel {
    margin-bottom: 0rem;
    interval: 5000;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
    height: 37.5rem;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}