:root {
    /* BRAND COLORS */
    --brand-green: #009640;
    --brand-yellow: #faa42f;
    --brand-blue: #0d599c;
}

/* FOOTER ICON */
.footer-icon{
    color: black;
}

.footer-icon:hover {
    color: var(--brand-blue);
}


/* Gallery v2 */
.gallery-menu{
	text-align:center;
}
.gallery-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.gallery-item{
	/*width:100%;*/
}
.gallery-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

/* directory */
        /* CUSTOM SEARCH */

        .search-filter-container {
            margin-bottom: 20px;
        }

        .list-group-item {
            margin-bottom: 10px;
        }

        /* Alumni List Card Styles */
        .title-white {
            color: black !important;
        }

        .list-group-item {
            background-color: #f6fcfd !important;
            border: 1px solid #ADD8E6;
            border-radius: 8px;
            margin: 10px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s;
            /* Smooth transition effect */
        }

        /* Hover effect */
        .list-group-item:hover {
            background-color: #ADD8E6 !important;
            /* Brighter yellow on hover */
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            /* Box shadow on hover */
        }

        /* Media Styles */
        .list-group-item .media {
            overflow: hidden;
        }

        .list-group-item .media img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 15px;
        }

        /* Media Body Styles */
        .list-group-item .media-body {
            overflow: hidden;
        }

        .list-group-item .media-body h4 {
            margin-bottom: 5px;
        }

        .list-group-item .media-content {
            margin-top: 10px;
        }

        .list-group-item ul {
            margin: 0;
            padding: 0;
        }

        .list-group-item ul li {
            list-style: none;
        }

        /* END */
/* contact */
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.bg-yellow {
    background-color: #faa42f;
}

.bg-blue {
    background-color: #0d599c;
}

.bg-green {
    background-color: #057426;
}


/* Document and media releases */
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

/* END */

/* BANNER */
.banner {
    margin-bottom: 0rem;
}

.banner-item {
    height: 20rem;
}

.banner-caption {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-h1 {
    color: white !important;
}

/* Button */
.custom-button-1 {
    background-color: var(--brand-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button-3 {
    background-color: var(--brand-yellow);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button-3:hover {
    background-color: #fa8f00;
    /* Dark variant of brand blue */
    color: white;
}

.custom-button-3:active {
    background-color: #fa8f00;
    /* Darker variant of brand blue */
    color: white;
}

.custom-button-1:hover {
    background-color: #0a3a5e;
    /* Dark variant of brand blue */
    color: white;
}

.custom-button-1:active {
    background-color: #072b4b;
    /* Darker variant of brand blue */
    color: white;
}

.custom-outline-button {
    background-color: transparent;
    /* Transparent background */
    color: var(--brand-blue);
    /* Text color same as brand blue */
    padding: 10px 20px;
    border: 1px solid var(--brand-blue);
    /* Add border */
    border-radius: 5px;
    cursor: pointer;
}

.custom-outline-button:hover {
    background-color: var(--brand-blue);
    /* Brand blue on hover */
    color: white;
}

.custom-outline-button:active {
    background-color: #072b4b;
    /* Darker variant of brand blue on active */
    color: white;
}


/* Outline Button */
.custom-button-2 {
    background-color: transparent;
    color: var(--brand-yellow);
    padding: 10px 20px;
    border: 1px solid var(--brand-yellow);
    border-radius: 5px;
    cursor: pointer;
}

.custom-button-2:hover {
    background-color: var(--brand-yellow);
    color: white;
}

.custom-button-2:active {
    background-color: #fa8f00;
    /* Darker variant of brand yellow */
    color: white;
}

.display-1 {
    color: var(--brand-yellow);
}

/* gallery */
.filter-button
{
    font-size: 18px;
    border: 1px solid var(--brand-green);
    border-radius: 5px;
    text-align: center;
    color: var(--brand-green);
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid var(--brand-green);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: var(--brand-green);

}
.btn-default:active .filter-button:active
{
    background-color: var(--brand-green);
    color: white;
}

.gallery_product
{
    margin-bottom: 30px;
}

/* end */

/* Carousel base class */

.carousel {
    margin-bottom: 0rem;
    interval: 5000;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
    height: 37.5rem;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}